body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;
    display: grid;
    border: 1px solid black;
}

.square {
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
}

datalist{
    width: 100px; 
    background-color:aliceblue;
}


.square:hover {
    background-color: rgb(133, 127, 127)
}
.square-down{
  height: auto;
  width: auto;
  background-color: rgb(0, 0, 0);  
}

